<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Ingredients
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-col *ngFor="let ingredient of ingredients">
      <ion-card id="ingredient-item">
        <ion-img [src]="ingredient.url"></ion-img>
        <ion-item lines="none">
          <ion-label id="title">
            {{ingredient.title}}
          </ion-label>
        </ion-item>
        <ion-item lines="none" id="cart">
          <ion-item lines="none" id="ingredient-units">
            <ion-input id="input-amount" type="number" min="0" max="9999" value="0"></ion-input>
            <ion-label>{{ingredient.countType}}</ion-label>
          </ion-item>
          <ion-button>
            <p>Add</p>
          </ion-button>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
